phonon_coupling 2
local_interaction 0
fermi_energy 0
# fraction of discretization points (N) in which the phonon_coupling is active
omega_debye 0.02
# Options: free_electronsN, sc, fcc, bcc, hc, single_peakN, double_peakN
dos double_peak50
N 2000
output_folder test
# 0 = full, 1 = near epsilon=0, 2 = near double peaks (\pm 0.5)
investigated_operator 0