phonon_coupling 1
local_interaction 0.1
fermi_energy -0.5
# fraction of discretization points (N) in which the phonon_coupling is active
omega_debye 0.02
# -1 is treated as infinity
beta -1
# Options: free_electronsN, sc, fcc, bcc, hc, single_peakN, double_peakN
dos bcc
N 10000
output_folder .
# 0 = full, 1 = near epsilon=0
investigated_operator 0
collective_modes false
T_C true
