phonon_coupling 3.0
local_interaction 0
fermi_energy 0
# fraction of discretization points (N) in which the phonon_coupling is active
omega_debye 0.02
# -1 is treated as infinity
beta -1
# Options: free_electronsN, sc, fcc, bcc, hc, single_peakN, double_peakN
dos sc
N 4000
output_folder test
# 0 = full, 1 = near epsilon=0
investigated_operator 0
collective_modes true
T_C false